.a
*/.a
a.out
*.exe
*/*.exe
*/*/*.exe
/*.exe
/*.class

.DS_Store
*/.DS_Store
python/*.pyc
python/*/*.pyc
python/*/*/*.pyc
python/*/*/*/*.pyc
python/*/*/*/*/*.pyc

java/Sumit/src/*.class
MySql5/out/*.class
MySql5/out/production/MySql5/*.class


java/calculator/Calculator/.idea/
java/calculator/Calculator/Calculator.iml
java/*/*/*.iml 
java/calculator/Calculator/target/
java/calculator/out/

java/*/target/*
java/*/.idea/*
java/*/*.iml
java/*/*/*.xml
java/*/.classpath
java/*/.project
java/.idea/
java/.metadata/


java/book/Book.iml
java/book/.idea/*
java/book/target/*
java/*/dependency-reduced-pom.xml

reactjs/node_modules/*

._.DS_Store
*/._.DS_Store
*/*/._.DS_Store

._Run_program.txt
*/._Run_program.txt
*/*/._Run_program.txt

*/.vscode/*
._Run_program.rtf
*/._Run_program.rtf
*/Run_program.rtf


*/._*.xlsx
*/*/._*.xlsx
*/*/*/._*.xlsx

*/._*.xls
*/*/._*.xls
*/*/*/._*.xls

*/._*.csv
*/*/._*.csv
*/*/*/._*.csv


*/*.jar
*/*/*.jar
*/*/*/*.jar


java/*/.idea/*

notepaid++/*
